* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container li {
    list-style: none;
}

body {
    background-color: #d3d3d3;
}

/* Início do layout section 1 */

.container {
    display: flex;
    background-color: #182C61;
    color: #fff;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    align-items: center;
}

ul {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin-left: 400px;
}

nav {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.sobre-a-loja {
    display: flex;
    align-items: center;
    padding: 20px;
}

.sobre-a-loja img {
    max-width: 100%;
    width: 480px;
    margin-right: 20px;
}

.descricao h2 {
    color: #182C61;
}

/* Fim do layout section 1 */

.produtos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produto {
    flex: 0 1 calc(25% - 20px);
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
}

.imagem {
    width: 300px;
    height: 300px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

 /* para Tablets  */

@media only screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        flex-direction: row;
        height: auto;
    }

    ul {
        width: 100%;
        margin-left: 0;
    }

    nav {
        width: 100%;
        margin-top: 20px;
    }

    .sobre-a-loja {
        flex-direction: row;
        text-align: center;
    }

    .sobre-a-loja img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .descricao h2 {
        margin-top: 20px;
    }

    .produtos {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .produto {
        flex: 0 1 calc(50% - 20px); /* Altera para 50% para ocupar metade da largura da coluna */
        margin: 20px 0;
    }

    .imagem {
        width: 385px;
        height: 385px;
    }
}

/*  para Mobile */
@media only screen and (max-width: 640px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    ul {
        width: 100%;
        margin-left: 0;
    }

    nav {
        width: 100%;
        margin-top: 20px;
    }

    .sobre-a-loja {
        flex-direction: column;
        text-align: center;
    }

    .sobre-a-loja img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .descricao h2 {
        margin-top: 20px;
    }

    .produto {
        flex: 0 1 calc(100% - 20px);
    }
}





